:root {
  --color-background: #e4fdf9;
  --color-layout: #ded0b6;
  --color-primary: #ff6f61; // New vibrant color
  --color-secondary: #3b5998; // Another vibrant color
  --color-accent: #b4c2da; // Accent color
  --color-text: #333;
  --color-link: #007bff;
  --color-link-hover: #0056b3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    'Geist Sans',
    'Geist Mono',
    -apple-system,
    'system-ui',
    'Segoe UI',
    'Noto Sans',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  background: var(--color-background);
  color: var(--color-text);
  padding: 1rem;
  padding: 0.5rem 1rem 50px 1rem; // Keep the padding-bottom for the footer

  @media (min-width: 768px) {
    padding: 0.5rem 2rem 50px 2rem;
  }

  @media (min-width: 1024px) {
    padding: 0.5rem 3rem 50px 3rem;
  }
}

main {
  padding: 1rem 0;

  @media (min-width: 768px) {
    padding: 2rem 0;
  }
}

a {
  color: var(--color-link);
  transition: color 0.3s;

  &:hover {
    color: var(--color-link-hover);
  }
}

button {
  font-size: 0.875rem;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: var(--color-primary);
  color: white;
  border: none;
  transition: background 0.3s;

  &:hover {
    background: var(--color-secondary);
  }
}

label {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-layout);
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  transition: border-color 0.3s;

  &:focus {
    border-color: var(--color-primary);
    outline: none;
  }
}

footer {
  background: var(--color-layout);
  padding: 1rem;
  text-align: center;
  border-top: 1px solid var(--color-primary);

  a {
    color: var(--color-link);
    margin: 0 0.5rem;

    &:hover {
      color: var(--color-link-hover);
    }
  }
}

// :root {
//   --color-background: rgb(253, 247, 228);
//   --color-layout: rgb(222, 208, 182);
// }

// body {
//   margin: 0;
//   font-family: -apple-system, 'system-ui', 'Segoe UI', 'Noto Sans', Helvetica,
//     Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
//   background: var(--color-background);
//   // Avoid fixed footer obscuring content
//   padding-bottom: 50px;
// }

// main {
//   padding: 1rem;
// }

// a {
//   color: black;
// }

// nav {
//   width: 100vw;
//   height: 4rem;
//   background: var(--color-layout);
//   display: flex;
//   justify-content: space-around;
//   align-items: center;

//   > div {
//     display: flex;
//     align-items: center;
//     gap: 0.625rem;
//   }

//   > div a {
//     margin: 0.25rem;
//   }
// }

// button {
//   font-size: 0.875rem;
//   border-radius: 6px;
//   padding: 0.5rem;
//   cursor: pointer;
// }

// label {
//   display: flex;
//   flex-direction: column;
// }

// input {
//   font-size: 1rem;
//   border-radius: 5px;
//   border: 1px solid;
//   padding: 0.5rem;
//   margin-bottom: 0.5rem;
// }
