.homePage {
  width: 100%;
  min-height: 100vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    padding: 0.75rem;
  }
}

.hgroupCentered {
  text-align: center;
}

.imageTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; // Adjust gap as needed
  margin-top: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.imageTextContainer img {
  max-width: 100%;
  height: auto;
}

// .imageTextContainer {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 1rem; // Adjust gap as needed
//   margin-top: 1rem;

//   @media (max-width: 768px) {
//     flex-direction: column;
//   }
// }

// .imageTextContainer img {
//   max-width: 100%;
//   height: auto;
// }

// .homePage {
//   width: 100%;
//   min-height: 100vh;
// }
